@model Domain.Entities.Contatos.EnderecoCliente

@{
    ViewData["Title"] = "Deletar Endereço CLiente";
}

<h2>Deletar Endereço CLiente</h2>

<h3>Você tem certeza que deseja realmente deletar este registro?</h3>
<div>
    <h4>EnderecoCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
