@model Domain.Entities.Pessoas.Profissoes.ProfissaoCliente

@{
    ViewData["Title"] = "Criar Profissão Cliente";
}

<h2>Criar Profissão Cliente</h2>

<h4>Profissão Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfissaoId" class="control-label"></label>
                <select asp-for="ProfissaoId" class ="form-control" asp-items="ViewBag.ProfissaoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />|
                <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
