@model Domain.Entities.Contatos.TelefoneTipo

@{
    ViewData["Title"] = "Detalhes Telefone Tipo";
}

<h2>Detalhes Telefone Tipo</h2>

<div>
    <h4>Telefone Tipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.TelefoneTipoId">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
</div>
